{% extends 'base.html' %}
{% block category_active %}active{% endblock %}

{% block body %}
<div class="category-container container-fluid">

    <!-- Categories -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Shapefile Data</h3>
        </div>
        {% if categorys %}
            {% for category in categorys %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'editor:category_detail' category.id %}">
                            <img src=" ddd" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h5>{{ category.category_name }}</h5>

                            <!-- View Details -->
                            <a href="{% url 'editor:category_detail' category.id %}" class="btn btn-primary btn-sm" role="button">View Data</a>


                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
            <p>Sorry Cant find  Data Category or shpnamed {{query }}</p>
                <br>
                <a href="#">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Data Category
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- If user searches and there are shapefiles -->
    {% if shapefiles %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Shapefiles</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Shapefile Name</th>
                                    <th>Projection</th>
                                    <th>Geometry Type</th>
                                    <th>Category</th>
                                    <th>Encoding</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shapefile in shapefiles %}
                                    <tr>
                                        <td>{{ shapefile.filename }}</td>
                                        <td>{{ shapefile.srs_wkt}}</td>
                                        <td>
                                            <a href="{% url 'editor:category_detail' shapefile.category.id %}">
                                                <img src="" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'editor:category_detail' shapefile.category.id %}">{{ shapefile.category.category_name }}</a>
                                        </td
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
